.background{
	margin: 0;
	padding: 0; 
}

body{
	width: 50%;
	height: 20%;
	margin: 0;
	padding: 0;
	background-image: url(bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow-y: auto;
}
.nav{
	width: 350px;
	height: auto;
	position: absolute;
	top: 20%;
	left: 0;
}
.nav a{
	text-decoration: none;
	font-size: 28px;
	font-family: verdana;
	font-weight: bold;
	height: 70px;
	margin: 5px 0;
	float: left;
	display: inline-block;
	background-color: LavenderBlush;
	color: black;
	line-height: 90px;
	text-align: center;
	transition: 300ms;

}
a.active, .nav a:hover{
	background-color: white;
	color: black;
	width: 100%;
}
.a{
	width: 90%;
	
}
.b{
	width: 90%;
	
}
.c{
	width: 90%;
	
}
.d{
	width: 90%;
	
}
.e{
	width: 90%;
	
}
.content{
	position: absolute;
	margin-left: 5%;
	min-height: 300px;
	height: auto;
	/*background-color: red;*/
	width: 100%;
	top: 300%;
}
.home{
	position: absolute;
	margin-left: 7%;
	bottom: -10px;
	color: white;
	font-family: vardana;
	text-transform: uppercase;
}
.home h1{
	font-size: 70px;
	padding-right: 55px; 
	border-bottom: 1px solid white;
}
.home h3{
	font-size: 28px;
	padding: 5px 0;
	opacity: 0.6;
}
.aboutus{
	position: absolute;
	margin-left: 7%;
	top: 10px;
	color: white;
	font-family: vardana;
	padding: 0;
	display: none;
}
.aboutus p{
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 15px;
}
.academic{
	position: absolute;
	margin-left: 5%;
	top: -78px;
	color: white;
	font-family: vardana;
	padding: 0;
}
.academic address{
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 0;
}
.acheivements{
	position: absolute;
	margin-left: 5%;
	top: 10px;
	color: white;
	font-family: vardana;
	padding: 0 80px;
}
.acheivements p{
	font-size: 25px;
	line-height: 28px;
	margin-bottom: 20px;
}
.skills{
	position: absolute;
	margin-left: 5%;
	top: 10px;
	color: white;
	font-family: vardana;
	padding: 0 80px;
}
.skills ul{
	font-size: 25px;
	line-height: 28px;
	margin-bottom: 20px;
}
